@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Inter, sans-serif;
}


.radio {
    display: inline-flex;
    overflow: hidden;
    border-radius: 25px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0);

}

.radio__input {
    display: none;
}

.radio__label {
    padding: 8px 14px;
    font-size: 14px;
    font-family: sans-serif;
    color: #ffffff;
    background-color: rgb(37 99 235 / 0.3);
    cursor: pointer;
    transition: background 0.1s;
}

.radio__label:not(:last-of-type) {
    border-right: 1px solid #006b50;
}

.radio__input:checked+.radio__label {
    background: #1e40af;
}
