body {
    font-family: Verdana, Helvetica, sans-serif;
    text-align: center;
    background-color: #222;
    margin: 0;
    color: #fff;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='white'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
    background-size: 12px;
    background-position: 206px 17px;
    padding-left: 12px !important;
    background-repeat: no-repeat;
    outline: none;
}

select:-moz-focusring {
    transition-duration: 0s;
    color: transparent;
    text-shadow: 0 0 0 #fff;
}

option {
    background-color: var(--c-3);
    color: var(--c-f);
}

.btn {
    outline: none;
    cursor: pointer;
    padding: 8px;
    margin: 10px;
    width: 230px;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 19px;
    background-color: #333;
    color: white;
    border: 0px solid white;
    border-radius: 25px;
}

img {
    width: 770px;
    max-width: 80%;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    margin: 3vh 0 5px 0;
    animation: fi 1s;
}

.disabled__label {
    display: none;
}


.radio {
    display: inline-flex;
    overflow: hidden;
    border-radius: 25px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0);

}

.radio__input {
    display: none;
}

.radio__label {
    padding: 8px 14px;
    font-size: 14px;
    font-family: sans-serif;
    color: #ffffff;
    background: #09f;
    cursor: pointer;
    transition: background 0.1s;
}

.radio__label:not(:last-of-type) {
    border-right: 1px solid #006b50;
}

.radio__input:checked+.radio__label {
    background: rgb(0, 95, 158);
}

@keyframes fi {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.main {
    animation: fi 1.5s .7s both;
}

a {
    color: #fff;
    cursor: pointer;
    text-decoration: underline;
}

ol {
    margin: auto;
    text-align: left;
    display: inline-block;
}

li::marker {
    text-decoration: bold;
    color: #09f;
}

li {
    margin: 5px;
}

.container {
    width: 80%;
    max-width: 510px;
    margin: auto;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #222;
    overflow: hidden;
}

.inst-button {
    padding: 0;
}

@media (prefers-color-scheme: dark) {
    ewt-install-dialog {
        /*--mdc-theme-primary: #ffa000; /*buttons*/
        --mdc-theme-surface: #333;
        --mdc-dialog-heading-ink-color: #fff;
        --mdc-dialog-content-ink-color: #ddd;
        --mdc-text-field-fill-color: #ddd;
    }
}